html, body {
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    background-color: #f0ebf3;
}

#chessboard {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  border: 3px solid black;
}

.block {
  display: grid;
  float: left;
}

.block:hover {
  cursor: pointer;
}

.bgblack {
  background-color: black;
}

.bgwhite {
  background-color: white;
}

.bgRed {
  background-color: deeppink;
}
